.navigator-container
{
    width: 17%;
    height: 100%;
    background-color: #6B82B7;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 50px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.cv-image-upload
{
    background-color: white;
    border-radius: 5px;
    width: 75%;
    margin: 0 auto 15px auto;
    font-size: 9px;
    color: #6B82B7;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}

.each-section
{
    
    height: 10%;
}
.active-route
{
    background-color: rgba(255, 255, 255, 0.5);
}
.active-route::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3%;
    height: 100%;
    background-color: white;
}
.each-section-link
{
    color: white !important;
    width: 100%;
    text-decoration: none;
    height: 100%;
    display: flex !important;
    align-items: center !important;
    padding-left: 18%;
    font-size: 14px;
    position: relative;
}
.each-section-link:hover
{
    border-bottom: none !important;
    text-decoration: none !important;
}

.each-section:hover
{
    background-color: rgba(8, 44, 58, 0.5);
}

.back-home-icon
{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-60%,0);
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: 0.5s;
}
.back-home-icon:hover
{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}