@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
  background-color: #f5f5f5 !important;
}

.container {
  position: relative;
}

.preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  /* display: none; */
  width: 100%;
  height: 100%;
  background-color: rgba(3, 1, 1, 0.5);
  transition: 0.5s ease;
}
.preview-overlay .container{
  padding: 2em;
}
.preview-overlay .svg-inline--fa{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 25px;
  z-index: 5;
  cursor: pointer;
}

.preview-overlay img{
  display: block;
  margin: auto;
  width: 60%;
}

.heroBg {
  position: absolute;
  top: 0;
  left: 0;
}

.heroBg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}

.content-Row {
  justify-content: center;
  padding: 10% 0;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2em;
}
.contentHeader {
  padding: 0.5em;
  border-top: 3px solid #6b82b7;
  border-left: 3px solid #6b82b7;
  position: relative;
}
.contentHeader:before {
  content: " ";
  position: absolute;
  top: -4px;
  left: -4px;
  right: 0px;
  bottom: 0px;
  border: 4px solid #fff;
  border-top-left-radius: 5.5em;
}
.contentHeader h1 {
  font-size: 2.1em;
  text-align: justify;
  position: relative;
}
.contentText {
  padding-bottom: 1em 0 0.5em;
  border-bottom: 3px solid #6b82b7;
  border-right: 3px solid #6b82b7;
  position: relative;
}
.contentText:before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: -4px;
  bottom: -4px;
  border: 4px solid #fff;
  border-bottom-right-radius: 5.5em;
}
.contentText p {
  font-size: 1.1em;
  text-align: justify;
}
.nav-section {
  justify-content: center;
}
.list-group {
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2em !important;
}
.list-group a.selected .list-group-item {
  background-color: #6b82b7;
  color: #fff;
}
.list-group a:hover {
  text-decoration: none;
}
.list-group-item {
  width: 130px;
  color: #6b82b7;
  border: 2px solid #6b82b7 !important;
  background-color: transparent;
  border-radius: 10px !important;
  text-align: center;
  padding: 0.6em 1em !important;
  margin: 0.3em 0.54em;
}
.list-group-item:hover {
  text-decoration: none;
  background-color: #6b82b7;
  color: #fff;
  cursor: pointer;
}

.template-view {
  justify-content: space-evenly;
}

@media screen and (max-width: 992px) {
  .contentHeader h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 900px) {
  .heroBg {
    display: none;
  }
  .bgContainer {
    background-color: #fff !important;
  }
}

@media screen and (max-width: 768px) {
  .contentHeader h1 {
    font-size: 1.4em;
    /* font-weight: bold; */
  }
  .contentText p {
    font-size: 0.9em;
  }
  .Btn {
    padding: 0.5em 0 0.5em 1.2em !important;
  }
}

@media screen and (max-width: 577px) {
  .contentHeader {
    padding: 0.5em;
  }
  .contentText {
    padding: 0.5em;
  }
  .contentHeader h1 {
    font-size: 1.6em;
    text-align: left;
  }
  .contentText p {
    font-size: 0.9em;
  }

  .Btn {
    padding: 0.5em 3em !important;
  }
}

@media screen and (max-width: 445px) {
  .Btn {
    padding: 0.5em 1.3em !important;
  }
}
