.form-input
{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0 ;
    position: relative;
    width: 100%;
}
.form-input label
{
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.form-input input
{
    border:none;
    border-bottom: 1px rgb(80, 79, 79) solid;
    background-color: transparent;
}
.form-input input:focus
{
    outline: none;
    background-color: rgb(212, 212, 212);
}
.set-top label
{
    bottom: 70%;
    transition: 0.5s;
    color: green;
}