.auth-container
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-sizing: border-box;
    z-index: 1000;
}
.auth-container > div
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-left
{
    
    background-image: url('./../../images/auth/Ellipse\ 1.svg');
    background-position: center center;
    background-size: cover;
    flex-direction: column;
    position: relative;
}
.auth-lef-layer
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.auth-lef-layer .back-home
{
    position: absolute;
    color: white;
    top: 20px;
    left: 20px;
    font-size:20px;
    cursor: pointer;
    transition: 0.2s;
    padding: 10px;
}
.back-home:hover
{
    box-sizing: border-box;
    background-color: rgba(82, 97, 226, 0.2);
    transform: scale(0.95);
    border-radius: 10px;
}
.back-home.clickable
{
    transform: scale(0.95);
    box-sizing: border-box;
    background-color: rgba(82, 97, 226, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.auth-left span
{
    color: white;
    width: 70%;
    text-align: center;
    font-size: 25px;
    color: rgb(223, 223, 223);
}
.auth-form-wwrapper
{
    min-height: 85%;
    width: 70% ;
    border-radius: 10px;
    box-shadow: 0 0 70px 0px rgb(204, 204, 204);
    padding: 10px 0;
}
.auth-indecator
{
    padding: 0 30px;
    /* roboto -> font family should be Roboto */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #6B82B7;
    font-weight: bold;
    position: relative;
}
.auth-indecator::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 7px;
    background-color: #6B82B7;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}